<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptie monitoring for HTTP/HTTPS sites Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet praesentium repudiandae iure, numquam eos, quasi, quisquam officiis veritatis dicta nam hic officia nemo accusantium aut inventore totam non aspernatur nostrum! test</div>

<div class="ctaWrapper">
	<a class="cta green" href='account/create'>Get Started</a>
	<a class="cta blue" href='session/create'>Login</a>
</div>